#shop-container {
  display: flex;
  flex-flow: row ;
}

button{
  display: flex;
  margin:  auto;
  width:40%;
  justify-content: center;
}

.product-card{
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 240px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-color: rgba(229,224,215,255);*/
  background-color: white;
  border-radius: 15px;
  margin: 10px 30px;
  justify-content: space-between;
}

.product-icon{
  width: 150px;
  margin: 10px auto 0px auto;
  /*border: 1px solid black;
  border-radius: 5px;*/
}
